:root {
  font-family: 'Roboto', sans-serif;

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-text-color: #122a52;
  --primary-background-color: #ffe29c;
  --primary-headding-color: #fff6e1;
  --button-color: #1275be;
  --button-hover-color: #8f2ef1;
  --links-buttons-color: #122a52;
  --logo-color: #ffbc1c;
  --logo-shadow-color: #664200;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

h1,
h2 {
  font-family: 'Fredoka', sans-serif;
  color: var(--primary-headding-color);
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

.headding-primary-shadow {
  -webkit-text-stroke: 4px var(--primary-text-color);
  -webkit-text-fill-color: var(--primary-headding-color);
  paint-order: stroke fill;
  color: var(--primary-headding-color);
  text-shadow:
    0px 5px 0px var(--primary-text-color),
    -2px 5px 0 var(--primary-text-color),
    1px 5px 0 var(--primary-text-color);
}

.button-effects {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--links-buttons-color);
  box-shadow:
    inset 0 -4px 8px 0 rgba(18, 42, 82, 0.32),
    0 4px 0 0 var(--links-buttons-color);
  background-color: var(--button-color);
  transition-property: border, box-shadow, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-radius: 24px;
  font-weight: 500;
  color: var(--primary-headding-color);
}

.button-effects:hover,
.button-effects:focus {
  background-color: var(--button-hover-color);
  border: 2px solid var(--logo-shadow-color);
  box-shadow:
    inset 0 -4px 8px 0 rgba(102, 66, 0, 0.32),
    0 4px 0 0 var(--logo-shadow-color);
}

.links-effects {
  border-bottom: 2px solid #000;
  box-shadow: inset 0 -4px 4px 0 rgba(0, 0, 0, 0.24);
  background-color: var(--links-buttons-color);
  color: var(--primary-headding-color);
  transition-property: border, box-shadow, background-color, color, stroke;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-radius: 24px;
}

.links-effects:hover,
.links-effects:focus,
.links-effects:active {
  background-color: var(--primary-headding-color);
  border-bottom: 2px solid var(--logo-shadow-color);
  box-shadow: inset 0 -4px 4px 0 rgba(102, 66, 0, 0.24);
  color: var(--logo-shadow-color);
  stroke: var(--logo-shadow-color);
}

.logo {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--logo-color);
  width: 129px;
  text-shadow:
    2px 5px 0px var(--logo-shadow-color),
    0px 5px 0 var(--logo-shadow-color),
    -2px -2px 0px var(--logo-shadow-color),
    2px -2px 0 var(--logo-shadow-color),
    0px -2px 0 var(--logo-shadow-color),
    -2px 5px 0 var(--logo-shadow-color),
    2px 2px 0 var(--logo-shadow-color);
}

.logo:hover {
  cursor: pointer;
}

.section-label {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 8px 16px;
  margin: 0 auto;
  box-shadow: inset 0 -4px 4px 0 rgba(0, 0, 0, 0.24);
  background-color: var(--links-buttons-color);
  color: var(--primary-headding-color);
  border-radius: 24px;
}
