.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-headding-color);
  fill: transparent;
  stroke: var(--primary-headding-color);
  width: 203px;
  height: 55px;
}
