.core-gameplay {
}

.core-gameplay > .container {
  background-image: url('/img/partials/core-gameplay/core-gameplay-background-mob.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: clip;
  padding-top: 206px;
  padding-bottom: 92px;
}

.core-gameplay-wave-wrapper {
  display: block;
  width: 100%;
  position: absolute;
  top: -31px;
  left: -15px;
  z-index: -1;
}

.core-gameplay-wave {
  position: absolute;
  max-width: none;
  top: 0px;
  left: 0;
}

.core-gameplay-first-wave {
  transform: translateX(0);
  animation: waving 6s infinite;
}

.core-gameplay-second-wave {
  animation: waving 6s infinite;
  animation-delay: 1s;
}

.core-gameplay-content-wraper {
}

.core-gameplay-label {
  font-size: 12px;
  margin-bottom: 24px;
}

.core-gameplay-headding {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.core-gameplay-island-list {
}

.core-gameplay-island {
  position: relative;
  background-image: url('/img/partials/core-gameplay/core-gameplay-island-mob.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 297px;
  height: 194px;
  padding: 32px 58px;
  z-index: 3;
}

.core-gameplay-island:nth-child(4) {
  padding: 30px 48px 55px 58px;
}

.core-gameplay-island-headding {
  font-size: 20px;
  text-align: center;
  margin-bottom: 4px;
}

.core-gameplay-island-text {
  text-align: center;
}

.core-gameplay-island-img {
  position: absolute;
}

/* Centering island content*/

.core-gameplay-island:nth-child(1) > picture > .core-gameplay-island-img {
  top: 0;
  right: 2px;
}

.core-gameplay-island:nth-child(2) > picture > .core-gameplay-island-img {
  top: 43px;
  right: -16px;
}

.core-gameplay-island:nth-child(3) > picture > .core-gameplay-island-img {
  top: 38px;
  right: -41px;
}

.core-gameplay-island:nth-child(3) > .core-gameplay-island-text {
  padding: 0 8px;
}

.core-gameplay-island:nth-child(4) > picture > .core-gameplay-island-img {
  top: 11px;
  right: 0;
}

.core-gameplay-island:nth-child(5) > picture > .core-gameplay-island-img {
  top: 0;
  right: -10px;
}

/* Centering islands */

.core-gameplay-island:nth-child(1) {
  margin-bottom: 51px;
}

.core-gameplay-island:nth-child(2) {
  left: 39px;
  margin-bottom: 51px;
}

.core-gameplay-island:nth-child(3) {
  margin-bottom: 55px;
}

.core-gameplay-island:nth-child(4) {
  left: 30px;
  margin-bottom: 55px;
}

/* Centering Addition Images */

.core-gameplay-orange-star {
  position: absolute;
  top: 49px;
  right: 0;
  transform: rotate(3deg);
  width: 110px;
}

.core-gameplay-blue-star {
  width: 133px;
}
.core-gameplay-rope {
  position: absolute;
  top: 548px;
  right: 21px;
}

@media screen and (min-resolution: 2x) and (-webkit-device-pixel-ratio: 2) {
  .core-gameplay > .container {
    background-image: url('/img/partials/core-gameplay/core-gameplay=background-mob-2x.png');
  }

  .core-gameplay-island {
    background-image: url('/img/partials/core-gameplay/core-gameplay-island-mob-2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .core-gameplay > .container {
    background-image: url('/img/partials/core-gameplay/core-gameplay-background.png');
    padding-top: 164px;
    padding-bottom: 242px;
  }

  .core-gameplay-island {
    background-image: url('/img/partials/core-gameplay/core-gameplay-island.png');
  }

  .core-gameplay-label {
    font-size: 16px;
    margin-left: 0;
  }

  .core-gameplay-headding {
    font-size: 40px;
    text-align: left;
    margin-bottom: 67px;
  }

  .core-gameplay-island {
    width: 449px;
    height: 294px;
    padding: 84px 108px;
  }

  .core-gameplay-island-headding {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .core-gameplay-island-text {
  }

  /* Centering island content*/

  .core-gameplay-island:nth-child(4) {
    padding: 84px 108px;
  }

  .core-gameplay-island:nth-child(5) {
    padding: 84px 122px;
  }

  .core-gameplay-island:nth-child(5) > .core-gameplay-island-headding {
    padding: 0 12px;
  }

  .core-gameplay-island:nth-child(1) > picture > .core-gameplay-island-img {
    top: 6;
    right: 14px;
  }

  .core-gameplay-island:nth-child(2) > picture > .core-gameplay-island-img {
    top: 76px;
    right: -25px;
  }

  .core-gameplay-island:nth-child(3) > picture > .core-gameplay-island-img {
    top: -16px;
    right: -19px;
  }

  .core-gameplay-island:nth-child(4) > picture > .core-gameplay-island-img {
    top: 16px;
  }

  .core-gameplay-island:nth-child(5) > picture > .core-gameplay-island-img {
    top: -40px;
    right: 2px;
  }

  /* Centering islands */

  .core-gameplay-island:nth-child(1) {
    left: 98px;
    margin: 0;
  }

  .core-gameplay-island:nth-child(2) {
    left: 721px;
    margin-top: -74px;
    margin-bottom: 50px;
  }

  .core-gameplay-island:nth-child(3) {
    left: 98px;
    margin: 0;
  }

  .core-gameplay-island:nth-child(4) {
    left: 664px;
    margin-top: -80px;
    margin-bottom: 14px;
  }

  .core-gameplay-island:nth-child(5) {
    left: 251px;
  }

  /* Centering Addition Images */

  .core-gameplay-orange-star {
    top: 444px;
    transform: rotate(3deg);
    width: 190px;
  }

  .core-gameplay-blue-star {
    position: absolute;
    top: 1230px;
    left: 243px;
    width: 180px;
  }
  .core-gameplay-rope {
    top: 533px;
    right: 670px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 2x) and (-webkit-device-pixel-ratio: 2) {
  .core-gameplay > .container {
    background-image: url('/img/partials/core-gameplay/core-gameplay-background-2x.png');
  }

  .core-gameplay-island {
    background-image: url('/img/partials/core-gameplay/core-gameplay-island-2x.png');
  }
}
