<section class="core-gameplay" id="core-gameplay" data-observer="section">
  <div class="container">
    <div class="core-gameplay-wave-wrapper">
      <picture>
        <source
          srcset="
            /img/partials/core-gameplay/core-gameplay-first-wave.png,
            /img/partials/core-gameplay/core-gameplay-first-wave-2x.png 2x
          "
          media="(width >= 1440px)"
          width="1920"
          height="97"
        />
        <img
          src="/img/partials/core-gameplay/core-gameplay-first-wave-mob.png"
          srcset="
            /img/partials/core-gameplay/core-gameplay-first-wave-mob-2x.png 2x
          "
          alt="first wave"
          loading="lazy"
          width="525"
          height="40"
          class="core-gameplay-wave core-gameplay-first-wave"
        />
      </picture>
      <picture>
        <source
          srcset="
            /img/partials/core-gameplay/core-gameplay-second-wave.png,
            /img/partials/core-gameplay/core-gameplay-second-wave-2x.png 2x
          "
          media="(width >= 1440px)"
          width="1920"
          height="144"
        />
        <img
          src="/img/partials/core-gameplay/core-gameplay-second-wave-mob.png"
          srcset="
            /img/partials/core-gameplay/core-gameplay-second-wave-mob-2x.png 2x
          "
          width="525"
          height="58"
          alt="second-wave"
          loading="lazy"
          class="core-gameplay-wave core-gameplay-second-wave"
        />
      </picture>
    </div>
    <div class="core-gameplay-content-wraper">
      <p class="core-gameplay-label section-label" data-aos="fade-right">
        Core Gameplay
      </p>
      <h2
        class="core-gameplay-headding headding-primary-shadow"
        data-aos="fade-right"
      >
        Match, build, and explore
      </h2>
      <ul class="core-gameplay-island-list">
        <li class="core-gameplay-island" data-aos="fade-up-left">
          <h3 class="core-gameplay-island-headding">
            Solve Colorful Match-3 Levels
          </h3>
          <p class="core-gameplay-island-text">
            Complete unique objectives to earn valuable rewards.
          </p>
          <picture>
            <source
              srcset="
                /img/partials/core-gameplay/core-gameplay-spinner.png,
                /img/partials/core-gameplay/core-gameplay-spinner-2x.png 2x
              "
              media="(width >= 1440px)"
              width="127"
              height="128"
            />
            <img
              src="/img/partials/core-gameplay/core-gameplay-spinner-mob.png"
              srcset="
                /img/partials/core-gameplay/core-gameplay-spinner-mob-2x.png 2x
              "
              width="80"
              height="80"
              alt="Spinner"
              loading="lazy"
              class="core-gameplay-island-img"
            />
          </picture>
        </li>
        <li class="core-gameplay-island" data-aos="fade-up-right">
          <h3 class="core-gameplay-island-headding">
            Restore Island Buildings
          </h3>
          <p class="core-gameplay-island-text">
            Renovate cottages, cafés, docks, and scenic landmarks.
          </p>
          <picture>
            <source
              srcset="
                /img/partials/core-gameplay/core-gameplay-scrap.png,
                /img/partials/core-gameplay/core-gameplay-scrap-2x.png 2x
              "
              media="(width >= 1440px)"
              width="181"
              height="114"
            />
            <img
              src="/img/partials/core-gameplay/core-gameplay-scrap-mob.png"
              srcset="
                /img/partials/core-gameplay/core-gameplay-scrap-mob-2x.png 2x
              "
              width="106"
              height="67"
              alt="scrap"
              loading="lazy"
              class="core-gameplay-island-img"
            />
          </picture>
        </li>
        <li class="core-gameplay-island" data-aos="fade-up-left">
          <h3 class="core-gameplay-island-headding">Unlock New Areas</h3>
          <p class="core-gameplay-island-text">
            Explore hidden beaches, tropical forests, waterfalls, and mountain
            viewpoints.
          </p>
          <picture>
            <source
              srcset="
                /img/partials/core-gameplay/core-gameplay-building.png,
                /img/partials/core-gameplay/core-gameplay-building-2x.png 2x
              "
              media="(width >= 1440px)"
              width="161"
              height="139"
            />
            <img
              src="/img/partials/core-gameplay/core-gameplay-building-mob.png"
              srcset="
                /img/partials/core-gameplay/core-gameplay-building-mob-2x.png 2x
              "
              width="106"
              height="91"
              alt="building"
              loading="lazy"
              class="core-gameplay-island-img"
            />
          </picture>
        </li>
        <li class="core-gameplay-island" data-aos="fade-up-right">
          <h3 class="core-gameplay-island-headding">Collect Useful Boosters</h3>
          <p class="core-gameplay-island-text">
            Use powerful combinations to overcome challenging puzzles.
          </p>
          <picture>
            <source
              srcset="
                /img/partials/core-gameplay/core-gameplay-chest.png,
                /img/partials/core-gameplay/core-gameplay-chest-2x.png 2x
              "
              media="(width >= 1440px)"
              width="125"
              height="133"
            />
            <img
              src="/img/partials/core-gameplay/core-gameplay-chest-mob.png"
              srcset="
                /img/partials/core-gameplay/core-gameplay-chest-mob-2x.png 2x
              "
              width="82"
              height="87"
              alt="chest"
              loading="lazy"
              class="core-gameplay-island-img"
            />
          </picture>
        </li>
        <li class="core-gameplay-island" data-aos="fade-up-left">
          <h3 class="core-gameplay-island-headding">
            Personalize Your Paradise
          </h3>
          <p class="core-gameplay-island-text">
            Decorate outdoor spaces with flowers, pathways, and island
            ornaments.
          </p>
          <picture>
            <source
              srcset="
                /img/partials/core-gameplay/core-gameplay-dog.png,
                /img/partials/core-gameplay/core-gameplay-dog-2x.png 2x
              "
              media="(width >= 1440px)"
              width="155"
              height="184"
            />
            <img
              src="/img/partials/core-gameplay/core-gameplay-dog-mob.png"
              srcset="
                /img/partials/core-gameplay/core-gameplay-dog-mob-2x.png 2x
              "
              width="75"
              height="90"
              alt="dog"
              loading="lazy"
              class="core-gameplay-island-img"
            />
          </picture>
        </li>
      </ul>
      <picture>
        <source
          srcset="
            /img/partials/core-gameplay/core-gameplay-orange-star.png,
            /img/partials/core-gameplay/core-gameplay-orange-star-2x.png 2x
          "
          media="(width >= 1440px)"
          width="139"
          height="133"
        />
        <img
          src="/img/partials/core-gameplay/core-gameplay-orange-star-mob.png"
          srcset="
            /img/partials/core-gameplay/core-gameplay-orange-star-mob-2x.png 2x
          "
          width="94"
          height="90"
          alt="orange-star"
          loading="lazy"
          class="core-gameplay-orange-star"
        />
      </picture>
      <picture>
        <source
          srcset="
            /img/partials/core-gameplay/core-gameplay-blue-star.png,
            /img/partials/core-gameplay/core-gameplay-blue-star-2x.png 2x
          "
          media="(width >= 1440px)"
          width="149"
          height="137"
        />
        <img
          src="/img/partials/core-gameplay/core-gameplay-blue-star-mob.png"
          srcset="
            /img/partials/core-gameplay/core-gameplay-blue-star-mob-2x.png 2x
          "
          width="109"
          height="101"
          alt="blue-star"
          loading="lazy"
          class="core-gameplay-blue-star"
        />
      </picture>
      <picture>
        <source
          srcset="
            /img/partials/core-gameplay/core-gameplay-rope.png,
            /img/partials/core-gameplay/core-gameplay-rope-2x.png 2x
          "
          media="(width >= 1440px)"
          width="259"
          height="927"
        />
        <img
          src="/img/partials/core-gameplay/core-gameplay-rope-mob.png"
          srcset="/img/partials/core-gameplay/core-gameplay-rope-mob-2x.png 2x"
          width="259"
          height="805"
          alt="rope"
          loading="lazy"
          class="core-gameplay-rope"
        />
      </picture>
    </div>
  </div>
</section>
