<section class="gallery" id="gallery" data-observer="section">
  <div class="container">
    <p class="gallery-label section-label">Gallery</p>
    <h2 class="gallery-headding headding-primary-shadow">Visual Style</h2>
    <picture>
      <source
        srcset="
          /img/partials/gallery/gallery-log.png,
          /img/partials/gallery/gallery-log-2x.png 2x
        "
        media="(width >= 1440px)"
        width="1440"
        height="129"
      />
      <img
        src="/img/partials/gallery/gallery=log-mob.png"
        alt="log"
        loading="lazy"
        width="375"
        height="129"
        srcset="/img/partials/gallery/gallery-log-mob-2x.png 2x"
        class="gallery-log"
      />
    </picture>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/partials/gallery/gallery-tropical.png,
              /img/partials/gallery/gallery-tropical-2x.png 2x
            "
            media="(width >= 1440px)"
            width="494"
            height="327"
          />
          <img
            src="/img/partials/gallery/gallery-tropical-mob.png"
            alt="tropical"
            loading="lazy"
            width="343"
            height="227"
            srcset="/img/partials/gallery/gallery-tropical-mob-2x.png 2x"
            class="gallery-item-img"
          />
        </picture>
        <h3 class="gallery-item-title">Tropical Landscapes</h3>
        <p class="gallery-item-text">
          Golden beaches, turquoise lagoons, palm trees, and colorful gardens.
        </p>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/partials/gallery/gallery-architecture.png,
              /img/partials/gallery/gallery-architecture-2x.png 2x
            "
            media="(width >= 1440px)"
            width="494"
            height="327"
          />
          <img
            src="/img/partials/gallery/gallery-architecture-mob.png"
            alt="architecture"
            loading="lazy"
            width="343"
            height="227"
            srcset="/img/partials/gallery/gallery-architecture-mob-2x.png 2x"
            class="gallery-item-img"
          />
        </picture>
        <h3 class="gallery-item-title">Cozy Island Architecture</h3>
        <p class="gallery-item-text">
          Wooden cottages, beach cafés, harbors, and charming village squares.
        </p>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/partials/gallery/gallery-effects.png,
              /img/partials/gallery/gallery-effects-2x.png 2x
            "
            media="(width >= 1440px)"
            width="494"
            height="327"
          />
          <img
            src="/img/partials/gallery/gallery-effects-mob.png"
            alt="effects"
            loading="lazy"
            width="343"
            height="227"
            srcset="/img/partials/gallery/gallery-effects-mob-2x.png 2x"
            class="gallery-item-img"
          />
        </picture>
        <h3 class="gallery-item-title">Vibrant Puzzle Effects</h3>
        <p class="gallery-item-text">
          Smooth animations, bright explosions, and satisfying match
          combinations.
        </p>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /img/partials/gallery/gallery-atmosphere.png,
              /img/partials/gallery/gallery-atmosphere-2x.png 2x
            "
            media="(width >= 1440px)"
            width="494"
            height="327"
          />
          <img
            src="/img/partials/gallery/gallery-atmosphere-mob.png"
            alt="atmosphere"
            loading="lazy"
            width="343"
            height="227"
            srcset="/img/partials/gallery/gallery-atmosphere-mob-2x.png 2x"
            class="gallery-item-img"
          />
        </picture>
        <h3 class="gallery-item-title">Relaxing Atmosphere</h3>
        <p class="gallery-item-text">
          Warm sunlight, ocean breezes, and cheerful colors create a true
          vacation feeling.
        </p>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          /img/partials/gallery/gallery-tree.png,
          /img/partials/gallery/gallery-tree-2x.png 2x
        "
        media="(width >= 1440px)"
        width="412"
        height="583"
      />
      <img
        src="/img/partials/gallery/gallery-tree-mob.png"
        alt="tree"
        width="180"
        height="254"
        loading="lazy"
        srcset="/img/partials/gallery/gallery-tree-mob-2x.png"
        class="gallery-tree"
      />
    </picture>
  </div>
</section>
