<header class="header {=$variant}">
  <div class="container">
    <nav class="main-navigation">
      <a href="./index.html" class="header-logo logo"
        >Pop Island: Match Build</a
      >
      <ul class="header-links {=$visible}">
        <li class="header-links-wrapper">
          <a href="#about" class="header-link" data-link>About the Game</a>
        </li>
        <li class="header-links-wrapper">
          <a href="#core-gameplay" class="header-link" data-link
            >Core Gameplay</a
          >
        </li>
        <li class="header-links-wrapper">
          <a href="#gallery" class="header-link" data-link>Gallery</a>
        </li>
        <li class="header-links-wrapper">
          <a href="#reviews" class="header-link" data-link>Reviews</a>
        </li>
        <li class="header-links-wrapper">
          <a href="#why-download" class="header-link" data-link>Why Download</a>
        </li>
      </ul>
      <a
        href="https://play.google.com/store/apps/details?id=com.hmbdgames.popisland&hl=en&gl=us"
        class="header-playmarket-link button-effects {=$visible}"
        target="_blank"
      >
        <svg width="22" height="24">
          <use href="{=$icon-path}"></use>
        </svg>
        Play on Google Play</a
      ><button class="header-burger-menu" data-action="open">
        <svg width="66" height="32" class="header-burger-menu-open">
          <use href="/img/sprite.svg#icon-burger-menu"></use>
        </svg>
        <svg width="66" height="32" class="header-burger-menu-close">
          <use href="/img/sprite.svg#icon-burger-menu-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
