<section class="hero">
  <div class="hero-image-wrapper container"></div>
  <div class="container">
    <h1 class="hero-headding headding-primary-shadow">
      Match Puzzles. Build Paradise.
    </h1>
    <p class="hero-text">
      Restore a beautiful island, unlock hidden locations, and create your
      perfect tropical escape.
    </p>
    <a
      href="https://play.google.com/store/apps/details?id=com.hmbdgames.popisland&hl=en&gl=us"
      class="hero-button button-effects"
      target="_blank"
    >
      <svg width="28" height="30" class="hero-button-icon">
        <use href="{=$icon-path}"></use>
      </svg>
      Play on Google Play</a
    >
  </div>
</section>
